/* @tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url('Montserrat.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Arial';
}

body {
  background-color: #282828;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}


#title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 15%;
}

#subtitle {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

#fields-grid-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  display: grid;
  grid-template-columns: 300px 300px;

}

.field-item-wrapper {
  margin-bottom: 100px;
}

.field-header {
  text-align: center;
} */